a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.block {
  padding: 20px 0;
}

.block .lead.text-justify, .iconlist > li {
  font-size: 17px;
}

.flex {
  display: flex;
}

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.iconlist .row {
  margin-bottom: 10px;
}

.navbar-header:hover, .navbar-nav li:hover {
  background-color: #eee;
}

.preview:hover {
  background-color: #eee;
}

.preview:hover .lead, .preview table:hover p {
  font-style: italic;
}

.well img {
  width: 100%;
}
