<template name='designer'>
  <div class='block block-bordered-lg p-t-lg'>
    <div class='container content'>
      <div class='row'>
        <div class='col-sm-8'>
          <h2 class='m-t-0'>{{ designer.name }}</h2>

          <table class='table table-hover'>
            <tbody>
              <tr>
                <td>{{> entypo 'mail' }}</td>
                <td>{{ designer.email }}</td>
              </tr>

              {{ #if designer.twitter }}
                <tr>
                  <td>
                    <a href='http://twitter.com/{{ designer.twitter }}'>
                      {{> entypo 'twitter' }}
                    </a>
                  </td>
                  <td>
                    <a href='http://twitter.com/{{ designer.twitter }}'>
                      @{{ designer.twitter }}
                    </a>
                  </td>
                </tr>
              {{ /if }}

              <tr>
                <td><a href="{{ designer.site }}">{{> entypo 'browser' }}</a></td>
                <td><a href='{{ designer.site }}'>{{ designer.site }}</a></td>
              </tr>

              <tr>
                <td>{{> entypo 'user' }}</td>
                <td class='text-justify'>{{ designer.bio }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='col-sm-4'>
          <div class='well'>
            <img src='/image/{{ designer.photo }}'>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
