<template name='designers'>
  <a href='/designers'>
    <div class='block block-bordered-lg preview'>
      <div class='container'>
        <h1 class='block-title text-center m-b-lg'>Designers</h1>

        <div class='row'>
          {{ #each designers }}
            <div class='col-md-6'>
              <a href='/designer/{{ slug }}'>
                <table class='table table-hover'>
                  <tbody>
                    <tr>
                      <td><img src='image/{{ photo }}' height=100></td>
                      <td class='w-full p-l-md'><h3>{{ name }}</h3><p>{{ email }}</p></td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          {{ /each }}
        </div>
      </div>
    </div>
  </a>
</template>
