<template name='gameDetails'>
  <div class='block block-bordered-lg p-t-lg'>
    <div class='container'>
      {{# if game.video }}
        <div class='row m-b-lg'>
            <div class='col-md-8 col-md-offset-2'>
              <div class='embed-responsive embed-responsive-16by9'>
                <iframe
                  width="560"
                  height="315"
                  src="{{ game.video }}"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
        </div>
      {{/ if }}
      <div class='row'>
        <div class='col-md-10 col-md-offset-1 col-sm-12 text-justify m-b-lg'>
          <p class='lead m-x-auto'>{{ game.summary }}</p>
        </div>
      </div>
      <ul class='featured-list'>
        {{ #each buildRows game.features }}
          <div class='row'>
            {{ #each this }}
              <li class='col-sm-6 m-b-lg'>
                <div class='featured-list-icon'>
                  {{> entypo this.icon }}
                </div>
                <p class='featured-list-icon-text mb-b-0'>
                  <strong>{{{ this.title }}}</strong>
                </p>
                <p class='featured-list-icon-text text-justify'>
                  {{ this.text }}
                </p>
              </li>
            {{ /each }}
          </div>
        {{ /each }}
      </ul>
      <div class='row m-b'>
        <div
          class='
            col-sm-8 col-sm-offset-2 panel panel-bold panel-default m-b-lg
          '
        >
          <div class='panel-body'>
            <h3 class='m-y-0'><strong>Components</strong></h3>
            <hr>
            <ul class='iconlist'>
              {{ #each buildRows game.components }}
                <div class='row'>
                  {{ #each this }}
                    <div class='col-xs-6'>
                      <li>{{> entypo 'plus' }} {{ this }}</li>
                    </div>
                  {{ /each }}
                </div>
              {{ /each }}
            </ul>
          </div>
        </div>
        <div class='col-sm-10 col-sm-offset-1 m-b-lg'>{{> mailchimp }}</div>
      </div>
    </div>
  </div>
</template>
