<template name='gameStats'>
  <div class='block block-bordered-lg {{ class }}'>
    <div class='container'>
      <h1 class='block-title m-b text-center text-uppercase'>
        {{ game.name }}
      </h1>
      <p class="lead text-center text-muted m-b-lg">
        {{ game.description }}
      </p>
      <div class='row'>
        <div class='col-md-6 col-sm-12'>
          <div class='well m-b-lg'>
            <img src='/image/{{ game.photo }}' data-transition='entrance' />
          </div>
          <hr class='m-t-0 m-b-lg m-x-auto visible-xs' />
        </div>
        <div class='col-md-5 col-md-offset-1 col-sm-12 text-xs-center text-sm-left'>
          <p class='lead text-justify m-b-lg'>{{ game.premise }}</p>
          <div class='row m-y-md'>
            <div class='col-xs-6 m-b-md text-center'>
              <div class='statcard'>
                <h1 class='statcard-number'>
                  {{#if game.playerrs}}
                    {{ game.players }}
                  {{else}}
                    2 to 10
                  {{/if}}
                  {{> entypo 'users' }}
                </h1>
                <span class='statcard-desc text-uppercase'>PLAYERS</span>
              </div>
            </div>
            <div class='col-xs-6 m-b-md text-center'>
              <div class='statcard'>
                <h1 class='statcard-number'>
                  {{ game.time }} {{> entypo 'stopwatch' }}
                </h1>
                <span class='statcard-desc text-uppercase'>MINUTES</span>
              </div>
            </div>
            <div class='col-xs-6 m-b-md text-center'>
              <div class='statcard'>
                <h1 class='statcard-number'>
                  {{#if game.age}}
                    {{ game.age }}+
                  {{else}}
                    14+
                  {{/if}}
                  {{> entypo 'thumbs-up' }}
                </h1>
                <span class='statcard-desc text-uppercase'>AGES</span>
              </div>
            </div>
            <div class='col-xs-6 m-b-md text-center'>
              <div class='statcard'>
                <h1 class='statcard-number'>
                  {{#if game.release }}
                    {{ game.release.getFullYear }}
                  {{else}}
                    TBD
                  {{/if}}
                  {{> entypo 'calendar' }}
                </h1>
                <span class='statcard-desc text-uppercase'>
                  RELEASE DATE
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{# unless class }}
        {{# if game.release }}
          <div class='row text-center lead'>
            {{# if game.boardGameGeek }}
              <a
                href='{{ game.boardGameGeek }}'
                class="col-md-offset-1 col-md-3 col-xs-4"
              >
                BoardGameGeek
              </a>
            {{/ if }}
            {{# if game.published}}
              <a
                href='{{ game.published }}'
                class="col-md-4 col-xs-4"
              >
                {{ game.publisher }}
              </a>
            {{/ if }}
            {{# if game.amazon }}
              <a
                href='{{ game.amazon }}'
                class="col-md-3 col-xs-4"
              >
                Amazon
              </a>
            {{/ if }}
          </div>
        {{/ if }}
      {{/ unless }}
    </div>
  </div>
</template>
