<template name='header'>
  <nav class='navbar navbar-default navbar-static-top navbar-padded text-uppercase'>
    <div class='container'>
      <div class='navbar-header'>
        <button 
          aria-expanded='false'
          class='navbar-toggle p-x-0 collapsed'
          data-toggle='collapse'
          data-target='#navbar-collapse'
          type='button'
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class='navbar-brand' href='{{ pathFor "home" }}'>
          <span>Stephenson Brothers Games</span>
        </a>
      </div>
      <div
        aria-expanded='false'
        class='collapse navbar-collapse'
        id='navbar-collapse'
      >
        <ul class='nav navbar-nav navbar-right'>
          <li class="{{ isActiveRoute 'games' }}">
            <a href='{{ pathFor "games" }}'>Games</a>
          </li>
          <li class="{{ isActiveRoute 'designers' }}">
            <a href='{{ pathFor "designers" }}'>Designers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
