<template name='mailchimp'>
  <p class='lead'><strong>Get email news and updates about Empire</strong></p>
  <div id="mc_embed_signup">
    <form
      action="//stephensongames.us12.list-manage.com/subscribe/post?u=06f810afaf60860339772b21b&amp;id=442f49b81e"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div class='form-group' id="mc_embed_signup_scroll">
      
        <label class='sr-only' for="mce-EMAIL">Get email news about Empire</label>

        <input
          type="email"
          value=""
          name="EMAIL"
          class="form-control"
          id="mce-EMAIL"
          placeholder="email address"
          required
        >

        <!--
          Real people should not fill this in and expect good things.
          Do not remove this or risk form bot signups.
        -->
        <div
          style="position: absolute; left: -5000px;"
          aria-hidden="true"
        >
          <input
            type="text"
            name="b_06f810afaf60860339772b21b_442f49b81e"
            tabindex="-1"
            value=""
          >
        </div>
      </div>
      <input
        type="submit"
        value="Subscribe"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="button btn btn-primary"
      >
    </form>
  </div>
</template>
